In [1]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="16RBcs#@$"
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001CEDDD3BA50>

In [2]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="16RBcs#@$"
)
mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE School")

In [3]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="16RBcs#@$"
)

mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

('information_schema',)
('mysql',)
('performance_schema',)
('school',)
('sys',)

In [4]:
import mysql.connector

mydb = mysql.connector.connect(
 host="localhost",
  user="root",
  password="16RBcs#@$",
  database="school"
)

In [6]:
import mysql.connector

mydb = mysql.connector.connect(
 host="localhost",
  user="root",
  password="16RBcs#@$",
  database="school"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE class (class_name VARCHAR(10),class_section VARCHAR(10),No_of_Desks int,No_of_Tables int,No_of_Cupboard int,No_of_Blackboard int,No_of_girls int,No_of_Boys int,Total int)");

In [7]:
import mysql.connector

mydb = mysql.connector.connect(
 host="localhost",
  user="root",
  password="16RBcs#@$",
  database="school"
)

mycursor = mydb.cursor()

mycursor.execute("SHOW TABLES")

for x in mycursor:
  print(x)

('class',)

In [19]:
import mysql.connector

mydb = mysql.connector.connect(
 host="localhost",
  user="root",
  password="16RBcs#@$",
  database="school"
)

mycursor = mydb.cursor()

sql="INSERT INTO class (class_name, class_section, No_of_Desks, No_of_Tables, No_of_Cupboard, No_of_Blackboard, No_of_girls, No_of_Boys, Total) VALUES (%s, %s,%d,%d,%d,%d,%d,%d,%d)"
val =('1', 'A',23,1,2,22,24,46)
mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "was inserted.")

ProgrammingError: Not all parameters were used in the SQL statement